<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.mychat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyChatAppTutorial">


        <activity android:name="com.application.mychat.ui.UpdateProfile" />
        <activity android:name="com.application.mychat.ui.ProfileActivity" />
        <activity android:name="com.application.mychat.ui.chatActivity" />
        <activity android:name="com.application.mychat.ui.setProfile" />
        <activity android:name="com.application.mychat.ui.otpAuthentication" />
        <activity android:name="com.application.mychat.ui.MainActivity" />
        <activity android:name="com.application.mychat.ui.specificchat" />
        <activity
            android:name="com.application.mychat.ui.splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>